main {
  display: flex;
  flex-direction: column;
}

.image {
  width: 100vw;
  aspect-ratio: 1934/1174;
  background: no-repeat;
  background-image: url('../imgs/marble.jpg');
  background-size: 100%;
  display: flex;
  background-position: center;
}

.spacer {
  width: 60%;
}

.description {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 0px 50px 75px 0px;
}

.description p {
  padding: 25px;
  font-size: 35px;
  color: rgb(61, 60, 60);
}

main h1 {
  font-size: 35px;
  padding: 50px;
  text-align: center;
}

.certs-and-courses {
  display: flex;
  flex-direction: center;
}
